<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSSsrc/style.css">
    <!--<link rel="stylesheet" href="CSSsrc/boxIcon.css">-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Sidal</title>
</head>
<body>







  <!-- scroll Reval --><!-- Scripts --><!-- Typed Script -->
  <script src="https://unpkg.com/typed.js@2.0.15/dist/typed.umd.js"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script type="text/javascript" src="jssrc/Script.js"></script>
  <script type="text/javascript" src="jssrc/JQsx.js"></script>
  <script type="text/javascript" src="jssrc/linkManagment.js"></script>
  <script type="text/javascript" src="jssrc/ScrollReveal.js"></script>
</body>
</html>



